1. Variables and Assignment

a) Declare a variable name and assign your name to it. Print the variable.

b) Declare a variable age and assign your age to it. Print the variable.

c) Swap the values of name and age without using a temporary variable. Print the new values of name and age.

In [42]:
print("A)")
name = "Eric"
print(name)
print("")
print("B)")
age = '20'
print(age)
print("")
print("C)")
age, name = name, age
print("The variable name is now:",name)
print("The variable age is now:",age)

A)
Eric

B)
20

C)
The variable name is now: 20
The variable age is now: Eric

2. Data Types

a) Using the type() function, determine and print the data type of the following values. Three of these will be new to you, but we'll cover them soon!
b) Declare a variable is_student and assign it the value True if you're a student, otherwise False. Print the variable.

In [43]:
print("A)")
print(type(5))
print(type(5.0))
print(type("5"))
print(type([5]))
print(type((5,)))
print((type({5})))
print(type(True))
print("")
print("B)")
is_student = True
print(is_student)

A)
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>

B)
True

3. Basic Operators

a) Using the +, -, *, and / operators, perform the following operations:

Add 15 and 23
Subtract 50 from 34
Multiply 8 by 7
Divide 100 by 4
Print all results.

b) Declare two variables a = 10 and b = 5. Calculate and print the following:

The remainder when a is divided by b
The result of a raised to the power of b

In [2]:
print("A)")
print(15 + 23)
print(50-34)
print(8*7)
print(100/4)
print("")
print("B)")
a = 10
b = 5

print( a % b)
print(a**b)

A)
38
16
56
25.0

B)
0
100000

4. Type Conversion

a) Convert the string "123" to an integer and print the result.

b) Convert the integer 456 to a string and print the result.

c) Convert the float 78.9 to an integer. What value do you get?

In [8]:
print("A)")
print(int("123"))
print("")
print("B)")
print((str(456)))

print("")
print("C)")
print(int(78.9))

A)
123

B)
456

C)
78

5. String Manipulation with Operators

a) Concatenate (join) the following strings and print the result: "Python" and "Rocks".

b) Repeat the string "Hello " three times using the multiplication operator. Print the result.

In [10]:
print("A)")
print("Python" + "Rocks")
print("")
print("B)")
print("Hello "*3)

A)
PythonRocks

B)
Hello Hello Hello

6. Bonus Question

Declare three variables: x = 5, y = 10, and z = 15. Using only the arithmetic operators (+, -, *, /) and the variable names, swap the values of the variables such that x has the value of y, y has the value of z, and z has the value of x.

(So, for example, x = x + z would be fair, but x = 20 would be cheating!)

In [13]:
x = 5
y = 10
z = 15

z -= y
print(z)
y += x
print(y)
x += z
print(x)

5
15
10