1. **Create a Series:**
   - Create a Series named `fruits` with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
   - Print the Series.
   - Print the `Index` of the series.

In [1]:
import pandas as pd
fruits = pd.Series(['apple','banana','cherry','data' ], index = ['a', 'b','c','d'])
print("Printed series: Fruits")
print(fruits)
print()
print("Printed index of Fruits")
print(fruits.index)

Printed series: Fruits
a     apple
b    banana
c    cherry
d      data
dtype: object

Printed index of Fruits
Index(['a', 'b', 'c', 'd'], dtype='object')

2. **Accessing Elements:**
   - Print the second  ("b") element of the `fruits` Series.

In [2]:
print(fruits['b'])

banana

3. **Series Operations:**
   - Create a Series with the squares of the numbers 1 through 5. 
   - Add 10 to each item in the series (hint: there a *method* to this madness).

In [3]:
numbers = pd.Series([1,2,3,4,5])
new = (numbers ** 2) + 10
print(new)

0    11
1    14
2    19
3    26
4    35
dtype: int64

Create a DataFrame:

Create a DataFrame named students with the columns: 'Name', 'Age', 'Grade'.
Populate it with data for three fictional students.

In [4]:
data = [["Eric", 18, 'A'], ['Anya', 17, 'B'], ['Chelsea', 16, 'C']]
students = pd.DataFrame(data, columns = ['Name', 'Age', 'Grade'])
print(students)

      Name  Age Grade
0     Eric   18     A
1     Anya   17     B
2  Chelsea   16     C

Accessing Data:

Print the Name column of the students DataFrame.

In [5]:
print(students['Name'])

0       Eric
1       Anya
2    Chelsea
Name: Name, dtype: object

DataFrame Operations:

Add a new column to the students DataFrame named Graduated, which should be True if the student's grade is 'A' and False otherwise.
Print the updated DataFrame.

In [27]:
new = [True, False, False]
students["Graduated"] = new
print(students)

      Name  Age Grade  Graduated
0     Eric   18     A       True
1     Anya   17     B      False
2  Chelsea   16     C      False

Maths:

Calculate and print the average age of the students.

In [73]:
print("Average age:")
print(students["Age"].mean())

Average age:
17.0

Sorting:

Sort the students DataFrame based on the Age column in descending order and print it.

In [76]:
students = students.sort_values('Age', ascending=False)
print(students)

      Name  Age Grade  Graduated
0     Eric   18     A       True
1     Anya   17     B      False
2  Chelsea   16     C      False

Tidy Data.

Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.
Compute the mean and standard deviation of all variables.
Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [77]:

happiness = {'subject 1':10,
             "subject 2": 15,
             'subject 3':15+3,
             'subject 4':15-2}
language = {'subject 1': 2,
            "subject 2":4,
            'subject 3': 4+3,
            'subject 4':4-2}
energy = {'subject 1': 5,
          'subject 2':9,
          'subject 3':9+3,
          'subject 4':9-2}
memory = {'subject 1': 3,
          'subject 2':6,
          'subject 3':6+3,
          'subject 4':6-2}
data = {'happiness':happiness, 'language':language, 'energy':energy, 'memory':memory}
tidycoghealthdata = pd.DataFrame(data)
tidycoghealthdata

           happiness  language  energy  memory
subject 1         10         2       5       3
subject 2         15         4       9       6
subject 3         18         7      12       9
subject 4         13         2       7       4

Compute the mean and standard deviation of all variables.

In [68]:
print("Mean:")
print(tidycoghealthdata.mean())
print()
print("Standard Deviation:")
print(tidycoghealthdata.std())

Mean:
happiness    14.00
language      3.75
energy        8.25
memory        5.50
dtype: float64

Standard Deviation:
happiness    3.366502
language     2.362908
energy       2.986079
memory       2.645751
dtype: float64

Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [78]:
print("Standard error of Happiness")
print(tidycoghealthdata["happiness"].sem())

Standard error of Happiness
1.6832508230603465